# ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**email** | Option<**String**> |  | [optional]
**status** | Option<**Status**> |  (enum: valid, invalid, catch_all, do_not_mail, unknown) | [optional]
**sub_status** | Option<**String**> |  | [optional]
**action** | Option<**Action**> |  (enum: accept, accept_with_caution, reject, retry_later) | [optional]
**processed_at** | Option<**String**> |  | [optional]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


